$light-blue: #82ABCA;
$dark-blue: #004E89;
$eggshell: #EFEFD0;
$peach: #F7C59F;
$pumpkin: #FF6B35;
$bad-red: #9D0600;

$default_margin: 20px;
$top_margin: 60px;

@import './navbar';
@import './IndexPage';
@import './CoursePage';
@import './DocPage';
@import './CourseReviewPage';
@import './InstPage';
@import './UserProfilePage';
@import './RegisterLoginPage';
@import './CareerPage';
@import './CompanyPage';
@import './FeedPage';
@import './SideBar';
@import './ResponsiveInteractions';
@import './ReactAlert';
@import './ReactSelect';
@import './SearchBar';
@import './AutoSuggestion';
@import './GlobalStyles';
