.career-page {
  background-color: #f5f5f5; padding: 0 $default_margin; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin $default_margin 270px; width: 75%; min-width: 310px; display: inline-block;

    .header {
      background-color: $dark-blue; color: white; padding: 5px; font-weight: bold; margin-bottom: $default_margin/2;
      .button { float: right; height: 100%; font-size: 10px; color: $dark-blue; &:hover { font-weight: bold; } }
    }

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .jobs-container {
      margin-bottom: $default_margin/2;
      .job-row {
        background-color: white; padding: $default_margin/2; margin: 0 0 $default_margin/2 0; border: 1px darken(#f5f5f5, 20%) solid;
        .button {  height: 100%; font-size: 10px; color: $dark-blue; float: right; }
        .tag { margin: 3px; background-color: $light-blue; color: white; font-weight: bold; }
        .fa {
          font-size: 14px; cursor: pointer; vertical-align: middle; margin-left: 10px;
          &:hover { transform: scale(1.1); }
        }
        .control.flag-submission { text-align: center; margin-left: 10px; select { max-width: 110px; } }
        a { color: $dark-blue; &:hover { color: $pumpkin; } }
      }
    }

    .resumes-container {
      margin-bottom: $default_margin/2;
      .resumes-row {
        display: flex; flex-wrap: wrap; flex-direction: row;
        .resume-index.card {
          margin: 0 $default_margin/2 $default_margin/2 $default_margin/2; width: 230px; height: 100%;
          .card-content {
            padding: 1.5rem 1.5rem 0.5rem 1.5rem;
            .card-image .button { position: absolute; right: -10px; height: 30px; top: -10px; }
            .card-text {
              max-height: 300px; overflow: scroll;
              .name { font-weight: bold; margin: 10px 0; }
              .date { font-size: 12px; margin: 10px 0; }
              .description { font-style: italic; margin: 10px 0; }
              .price span { font-weight: bold; }
            }
            .card-image .image { display: block; margin: auto; cursor: pointer; }
            .card-foot {
              line-height: 30px; text-align: center;
              i { vertical-align: middle; padding: 0 5px; }
              a { color: $dark-blue; &:hover { color: $pumpkin; } }
            }
          }
          .card-footer-item { color: $dark-blue; &:hover{ color: $pumpkin } }
        }
      }
    }

  }

  .hamburger { display: none; }

  .control-bar {
    display: inline-block; margin-top: $top_margin; width: 250px; float: left; position: fixed; height: calc(100vh - 50px - 30px); overflow: scroll;
    .card-content {
      .geo-criteria .control { display: inline-block; max-width: 110px; padding-right: 5px; }
      .categories.control .checkbox { padding-right: 10px; }
      .button { width: 100%; background-color: $dark-blue; }
      .tag { margin: 3px; cursor: pointer; background-color: $light-blue; color: white; font-weight: bold; }
    }
  }

}


