.company-page {
  background-color: $default_bg_color; padding: 0 20px 20px 20px; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin $default_margin $sidebar_width_left + $default_margin; width: $main_container_width; min-width: 360px; display: inline-block;

    .header {
      background-color: $dark_blue; color: white; padding: 5px 10px; font-weight: bold; margin-bottom: $default_margin/2; overflow: auto;
      .fa { float: right; }
    }

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .top-row {
      margin-bottom: $default_margin/2;
      .top-row-button {
        display: inline-block; width: 50%; text-align: center;
        .fa { cursor: pointer; font-size: 35px; &:hover { transform: scale(1.1); } }
        .fa.disabled { pointer-events: none; cursor: default; opacity: 0.5 }
        p { font-size: 13px; }
      }
      .top-row-star {
        display: inline-block; width: 50%; text-align: center;
        a { color: inherit; }
        .outer {
          position: relative; display: inline-block; &:hover { transform: scale(1.1); }
          .inner { display: inline-block; position: absolute; top: 0; left: 0; overflow: hidden; }
          i { cursor: pointer; font-size: 35px; }
        }
      }
    }

    .jobs-container {
      margin-bottom: $default_margin/2;
      .fa { cursor: pointer; }
      .job-row {
        background-color: white; padding: $default_margin/2; margin: 0 0 $default_margin/2 0; border: 1px darken($default_bg_color, 20%) solid;
        .tag { margin: 3px; background-color: $light_blue; color: white; font-weight: bold; }
        .fa { font-size: 14px; cursor: pointer; vertical-align: middle; &:hover { transform: scale(1.1); } }
        .footer-item { margin-right: $default_margin/2; }
        .control.flag-submission { text-align: center; margin-right: $default_margin/2; select { max-width: 110px; } }
        a { color: $dark_blue; &:hover { color: $pumpkin; } }
      }
      .end-msg {
        text-align: right;
        .button { color: $dark_blue; &:hover { color: $pumpkin; } }
      }
    }

    .qa-container {
      margin-bottom: $default_margin/2;
      .fa { cursor: pointer; }
      .qa-row {
        background-color: white; padding: $default_margin/2; margin-top: $default_margin/2; border: 1px darken($default_bg_color, 20%) solid;
        .button.new-answer {  height: 100%; font-size: 10px; color: $dark_blue; }
        .fa { font-size: 14px; cursor: pointer; vertical-align: middle; &:hover { transform: scale(1.1); } }
        .footer-item { margin-right: $default_margin/2; }
        .control.flag-submission { text-align: center; margin-right: $default_margin/2; select { max-width: 110px; } }
        small a { color: $dark_blue; &:hover { color: $pumpkin; } }
        .date.top-right { float: right; }
      }
      .end-msg {
        text-align: right;
        .button { color: $dark_blue; &:hover { color: $pumpkin; } }
      }
    }

    .reviews-container {
      margin-bottom: $default_margin/2;
      .fa { cursor: pointer; }
      .review-row {
        margin: $default_margin/2 0; border: 1px #ccc solid; border-radius: 10px; padding: $default_margin/2 $default_margin/2 $default_margin/2 0; background-color: white;
        .meta-info {
          width: 350px; display: inline-block; padding: 0 $default_margin/2;
          td { border-bottom: 1px #ccc solid; padding: $default_margin/4 0; }
        }
        .comment { display: inline-block; vertical-align: top; width: calc(100% - 370px); min-width: 350px; padding-left: $default_margin/2; font-style: italic; }
      }
      .end-msg {
        text-align: right;
        .button { color: $dark_blue; &:hover { color: $pumpkin; } }
      }
    }

  }

}
