.course-page {
  background-color: $default-bg-color; padding: 0 $default_margin; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin $default_margin $sidebar_width_left + $default_margin; width: $main_container_width; min-width: 360px; display: inline-block;

    .header {
      background-color: $dark-blue; color: white; padding: 5px 10px; font-weight: bold; margin-bottom: $default_margin/2; overflow: auto;
      .fa { float: right; }
      .course-name { font-weight: bold; }
      .course-desc { font-size: 12px; }
      a { color: white; .course-name { font-weight: bold } .course-desc { font-size: 12px } &:hover { color: $peach; } }
    }

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .top-row {
      margin-bottom: $default_margin/2;
      .top-row-button {
        display: inline-block; width: 16.65%; text-align: center;
        .fa { cursor: pointer; font-size: 35px; &:hover { transform: scale(1.1); } }
        .fa.disabled { pointer-events: none; cursor: default; opacity: 0.5 }
        p { font-size: 13px; }
      }
      .top-row-star {
        display: inline-block; width: 16.65%; text-align: center;
        a { color: inherit; }
        .outer {
          position: relative; display: inline-block; &:hover { transform: scale(1.1); }
          .inner { display: inline-block; position: absolute; top: 0; left: 0; overflow: hidden; }
          i { cursor: pointer; font-size: 35px; }
        }
      }
    }

    .docs-container, .items-container {
      margin-bottom: $default_margin/2;
      .docs-row, .items-row {
        display: flex; flex-wrap: wrap; flex-direction: row;
        .doc-index.card, .item-index.card {
          margin: 0 $default_margin/4 $default_margin/2 $default_margin/4; width: 230px; height: 100%;
          .card-content {
            padding: 1.5rem 1.5rem 0.5rem 1.5rem;
            .card-image .button { position: absolute; right: -10px; height: 30px; top: -10px; background-color: $dark-blue; &:hover { background-color: darken($dark-blue, 10%); } }
            .card-text {
              max-height: 300px; overflow: scroll;
              .name { font-weight: bold; margin: 10px 0; }
              .date { font-size: 12px; margin: 10px 0; }
              .description { font-style: italic; margin: 10px 0; }
              .price { font-weight: bold; }
            }
            .card-image .image { display: block; margin: auto; }
            .card-foot {
              line-height: 30px; text-align: center;
              i { vertical-align: middle; padding: 0 5px; }
              a { color: $dark-blue; &:hover { color: $pumpkin; } }
            }
          }
          .card-footer-item { color: $dark-blue; &:hover{ color: $pumpkin } }
        }
      }
    }

    .feed-container {
      margin-bottom: $default_margin/2;
      .button.is-primary { background-color: $dark-blue; &:hover { background-color: darken($dark-blue, 10%) } }
      .char-counter { position: absolute; right: 0; font-size: 12px; }
      .feed-row { background-color: white; padding: $default_margin/2; margin: 0; }
      hr { margin: $default_margin/2 0; }
    }
  }
}
