.feed-page {
  background-color: $default-bg-color; padding: 0 $default_margin; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin $default_margin $sidebar_width_left + $default_margin; width: $main_container_width; min-width: 360px; display: inline-block;

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .header {
      background-color: $dark-blue; color: white; padding: 5px 10px; font-weight: bold; margin-bottom: $default_margin/2; overflow: auto;
      .fa { float: right; }
    }

    .feeds-container {
      .resume-review-row, .course-row {
        background-color: white; padding: $default_margin/2; margin: 0 0 $default_margin/2 0; border: 1px darken($default-bg-color, 20%) solid;
        .media-left .image { overflow: hidden; border: #bbb solid 2px; border-radius: $default_margin/4; }
        .button {  height: 100%; font-size: 10px; color: $dark-blue; float: right; }
        .fa { font-size: 14px; cursor: pointer; vertical-align: middle; margin-left: 10px; &:hover { transform: scale(1.1); } }
        .control.flag-submission { text-align: center; margin-left: 10px; select { max-width: 110px; } }
        a { color: $dark-blue; &:hover { color: $pumpkin; } }
      }
    }

    .end-msg {
      text-align: center;
      .button { background-color: $dark-blue; color: white; &:hover { background-color: darken($dark-blue, 10%); } }
    }

  }

}
