.forgot-account-page, .reset-password-page {

  .nav.login {
    height: 60px; background-color: $default_bg_color;
    .container {
      max-width: 100%;
      .nav-item {
        padding: 0 $default_margin;
        &.credentials {
          .label.forgot { position: absolute; right: $default_margin*4; top: $default_margin*2; text-align: left; margin: 0; font-size: 12px; color: $dark_blue; }
          .credential {
            margin: auto; padding-right: 10px; display: inline;
            .input { max-height: 30px; border-color: $dark_blue; font-size: 12px; margin-top: -12px; }
          }
          .button { max-height: 30px; margin-top: -12px; background-color: $dark_blue; color: white; font-style: bold; }
        }
      }
    }
  }

  .main-container {
    padding: $default_margin/2 $default_margin; background-color: darken($light_blue, 50%); min-height: 100vh;
    .card, .message { max-width: 400px; margin: auto; margin-bottom: $default_margin/2; }
  }

}
