$light-blue: #82ABCA;
$dark-blue: #004E89;
$eggshell: #EFEFD0;
$peach: #F7C59F;
$pumpkin: #FF6B35;
$bad-red: #9D0600;

$default_margin: 20px;
$top_margin: 60px;

body,html {
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}
