.index-page {
  background-color: #f5f5f5; padding: 0 $default_margin $default_margin $default_margin; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin; width: 60%; min-width: 360px; display: inline-block; margin: auto;

    .welcome-box {
      padding: $default_margin; background-color: white; border-radius: 20px; margin: auto;
      .title { font-family: 'Farsan', cursive; }
      .image { max-width: 650px; margin: auto; }
    }

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .course-index.card {
      margin-bottom: $default_margin;
      .card-content {
        .title.header {
          background-color: $dark-blue; padding: 8px;
          a { color: white; .course-name { font-weight: bold } .course-desc { font-size: 12px } }
          :hover { color: $peach; }
        }
        .doc-type {
          .header { background-color: $light-blue; color: white; padding: 5px; }
          .text-link { p { color: $dark-blue; } :hover { color: $pumpkin; } }
          .doc-container { padding: 5px; }
        }
      }
    }
  }
}

.title:not(:last-child), .subtitle:not(:last-child) {
  margin-bottom: 0.5em;
}
