.index-page {
  background-color: $default_bg_color; padding: 0 $default_margin; min-height: 100vh; overflow: auto;

  .main-container {
    padding: $top_margin $default_margin $default_margin $sidebar_width_left + $default_margin; width: $main_container_width; min-width: $default_min_container_width; display: inline-block;

    .page-msg {
      font-size: 16px; text-align: center;
      .fa, .sr-only { font-size: 16px; padding: 3px }
    }

    .welcome-box {
      padding: $default_margin; background-color: white; border-radius: 20px; margin: auto;
      .title { font-family: 'Farsan', cursive; }
      .image { max-width: 650px; margin: auto; }
    }

    .header {
      background-color: $dark_blue; color: white; padding: 5px 10px; font-weight: bold; margin-bottom: $default_margin/2; overflow: auto;
      .fa { float: right; }
    }

    .course-index.card {
      margin-bottom: $default_margin/2;
      .card-content {
        .title.header {
          background-color: $dark_blue; color: white; padding: 5px 10px; font-weight: bold; margin-bottom: $default_margin/2; overflow: auto;
          .fa { float: right; }
          a { color: white; .course-name { font-weight: bold } .course-desc { font-size: 12px } &:hover { color: $peach; } }
        }
        .updates.column {
          padding-bottom: 0;
          .header { background-color: $light_blue; color: white; padding: 5px 10px; }
          a { color: $dark_blue; &:hover { color: $pumpkin; } }
        }
      }
    }
  }

}
