.nav.logged-in {
  position: fixed; width: calc(100% - 40px);
  .container { margin: 0 $default_margin; max-width: 100%; }

  .notification-list.is-enabled {
    display: block; position: absolute; background-color: white; left: 200px;
    top: 50px; z-index: 3; border: $dark-blue 2px solid; padding: $default_margin;
  }

  .notification-list { display: none; }
  a.nav-item.is-tab.is-active, .nav-item a.is-tab.is-active {
    border-bottom: 3px solid $dark-blue;
    color: $dark-blue;
    padding-bottom: calc(0.5rem - 3px);
  }

  a.nav-item.is-tab:hover {
    border-bottom-color: $dark-blue;
    border-top-color: transparent;
  }
}
