.nav.logged-in {
  position: fixed; width: calc(100% - 40px);
  .container { margin: 0 $default_margin; max-width: 100%; }

  .nav-item {
    color: #666;
    &:hover { border-bottom: 2px solid $dark-blue; color: $dark-blue; }
    .fa { padding-right: 3px; }
  }
}
