.search-bar-container {
  width: 100%; margin: 0 auto 10px; min-width: $default_min_container_width; padding: 0 0 0 0; background-color: $default_bg_color;
  position: relative;
  .search-bar {
    &:active, &:focus { border-color: $dark_blue; }
    &.control { margin-bottom: 0; }
    .icon { color: $dark_blue; }
    &.results {
      border: 1px $dark_blue solid; background-color: white; position: absolute; left: 0; right: 0; padding: 5px; display: none; z-index: 1;
      .result-row {
        padding: 0 10px; color: $dark_blue; font-size: 15px; line-height: 32px;
        &.valid {
          cursor: pointer;
          i { line-height: 32px; font-size: 15px; }
          &:hover { background-color: #eee; }
        }
      }
      &.is-enabled { display: block; }
    }
  }
  .control.has-icon:not(.has-icon-right) .input.is-medium + .icon { z-index: 0; }
}
