.side-bar {
  display: inline-block; margin-top: $top_margin; position: fixed;

  &.right { width: $sidebar_width_right; }
  &.left { width: $sidebar_width_left; }

  .image {
    &.is-4by3 img { height: 100%; width: auto; padding: 5px; margin: auto; }
    &.inst-logo img { width: 40px; }
  }

  .button.edit { position: absolute; right: 5px; top: 5px; font-size: 12px; z-index: 1; background-color: $dark-blue; &:hover { background-color: darken($dark-blue, 10%); } }

  .card-content {
    padding: 15px 15px 0 15px;
    .main.content { margin-bottom: $default_margin/2; }
    .fa { font-size: 16px; }
    hr { margin: 0 0 $default_margin/2 0; }
    .card-footer-item { color: $dark-blue; font-size: 12px; &:hover { color: $pumpkin; } }
    .feeds-container {
      .resume-review-row, .course-row {
        background-color: white; font-size: 12px; margin: 0; padding-bottom: $default_margin/2;
        a { color: $dark-blue; &:hover { color: $pumpkin; } }
      }
    }
  }

}
