.profile-page {
  background-color: $default_bg_color; padding: 0 20px 20px 20px; min-height: 100vh; overflow: auto;
  .main-container {
    padding: $top_margin 0; width: 60%; min-width: $default_min_container_width; display: block; margin: auto;
    .button.is-primary { background-color: $dark_blue; }
    .card-footer-item, .icon.arrow { color: $dark_blue; }
  }
}
